<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
        <!-- begin:: Page -->
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <app-header></app-header>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <app-sidebar></app-sidebar>
                <div class="m-content" style="width:100%">
                    <div class="m-content" style="width:100%">
                
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Dashboard 
                                        </h3>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="m-portlet__body">
                                
                                <div class="m-section__content">
                                    <table class="table m-table m-table--head-separator-primary" >
                                        <thead>
                                        <tr>
                                            <th>
                                                Account ID
                                            </th>
                                            <th>
                                                Merchant Name
                                            </th>
                                            <th>
                                                Merchant Tel
                                            </th>
                                            <th>
                                                Merchant ID
                                            </th>
                                            <th>
                                                Edit
                                            </th>
                                            <th>
                                                    Delete
                                                </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr  *ngFor="let item of companyInfo; index as i;trackBy: i" [attr.data-index]="i" >
                                                <td scope="row">
                                                    {{item.account_id}}
                                                </td>
                                                <td>
                                                    {{item.display_name}}
                                                </td>
                                                <td>
                                                    {{item.cell}}
                                                </td>
                                                <td>
                                                    {{item.merchant_id}}
                                                </td>
        
                                                <td>
                                                    <button  class="btn btn-warning" (click) = 'saveAccountID(item)' >Details</button>
                                                </td>
                                                <td>
                                                        <button  class="btn btn-danger" (click) = 'setMerchant(item)' >Delete</button>
                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="display: inline-flex" *ngFor="let item of pageNumArray;  index as i;trackBy: i" [attr.data-index]="i">
                                            <a style="margin-right:7px" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only" (click) = 'goToPage(i)'>
                                                    <p style="height: 100%;
                                                    margin-top: 27%;">{{i+1}}</p>
                                            </a>
                                    </div>
                                </div>
                                <div style="display:inline-flex;margin-top:20px">
                                    <button class= "btn btn-warning" (click)= 'newUser = true;' style="margin-right:20px">Add New Merchant</button>
                                    <button class= "btn btn-warning" (click)= 'newUser = false; new_merchant_id = ""'>Cancel</button>
                                    <p *ngIf="message" style="color:#c49a6c;padding-top:1%;margin-left:20px;">Add New Merchant Successfully</p>
                                 </div>
                                 <br>

                                 <div *ngIf="newUser" style="display:inline-flex; width:100%;margin-top:20px">
                                    <p  style="padding-top:1%;margin-right:20px;font-weight:600; width:20%">New Merchant ID:</p>
                                    <input class = "form-control m-input" type="text" [(ngModel)]="new_merchant_id" style="width:50%">   
                                    <button class= "btn btn-warning" (click)= 'addNewMerchant()' style="margin-left:20px">添加</button>                      
                                </div>
                            <!--end: Datatable -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body> 